* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  width: 100vw;
}

.main-card {
  position: relative;
  z-index: 1;
  max-width: 20%;
  border-style: solid;
}

.bg-main {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg-main img {
  position: relative;
}

.top-left-circle {
  bottom: 20em;
  right: 15em;
}

.bottom-right-circle {
  bottom: 35em;
  left: 65em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
