* {
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
}

h2,
h3 {
  font-weight: 700;
}

p,
span {
  font-weight: 400;
  color: hsl(0, 3%, 50%);
}

.bg-main {
  height: 100vh;
  background: hsl(185, 75%, 39%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card {
  text-align: center;
  background: white;
  border-radius: 1.25em;
  overflow: hidden;
}

.prof-pic {
  margin-top: -3.5em;
}

.prof-pic img {
  border-radius: 3.5em;
  border: 5px solid white;
}

.pers-details {
  font-size: 1rem;
}

.pers-details p {
  margin-top: -0.5em;
}

.stats {
  display: flex;
  border-top: 1px solid hsl(0, 3%, 86%);
  margin-top: 2em;
}

.stats div {
  flex: 1;
}

.stats p {
  letter-spacing: 0.125rem;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
